body {
  font-family: helvetica;
}

h1 {
  background-image: url("./Images/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
font-size: 32px;
font-weight: bold;
color: white;
}

.brushcolor{
background-color: mediumspringgreen;
}

#price {
  font-weight: bold;
  color: blue;
}

.framescolor{
  background-color: lightcoral;
}

.paintcolor{
  background-color: skyblue;
}
